.main {
  width: 100%;
  height: calc(100svh - 2rem);
  align-items: center;
  justify-content: center;
  gap: 1rem;

  --colors-brand: #000;
  --colors-brandAccent: #000;
  --colors-brandButtonText: var(--font);

  --colors-inputBorderFocus: #000;
  --colors-inputPlaceholder: var(--font);
  --fontSizes-baseButtonSize: 1rem;
  --space-buttonPadding: 1rem;
  --colors-defaultButtonBackground: white;
  --colors-defaultButtonBackgroundHover: #f5f5f5;
  --colors-defaultButtonBorder: lightgray;
  --colors-defaultButtonText: gray;
  --fonts-inputFontFamily: "Inter";
  --fontSizes-baseInputSize: 1rem;
  --space-inputPadding: 1rem;
}
