.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  min-height: 25rem;
}
.title {
  font-weight: 800;
  text-align: center;
}
.text {
  font-size: x-large;
  font-weight: 800;
  text-align: center;
}
.highlight {
  color: var(--primary);
}
